@media only screen and (max-width: 768px) {
  body {
    background-color: #d8ddef;
    height: 100%;
  }

  header {
    background-color: #310a31;
    text-align: center;

    .logo {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      padding: 1em;
    }

    input {
      border: none;
      background-image: url("/images/search1.png");
      background-repeat: no-repeat;
      background-size: 2.5rem;
      padding: 10px 10px 10px 45px;
      margin: 20px;
      font-size: 15px;
    }
  }

  .hero {
    background-color: #3a1772;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    display: flex;
    justify-content: space-between;
  }

  img {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 50%;
    margin: 15px 5px;
  }

  article {
    text-align: center;
    border-bottom: 30px solid #3a1772;
    padding: 10px;

    p {
      margin: 0px;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    h2,
    h3 {
      color: #3a1772;
      margin-top: 0px;
      margin-bottom: 8px;
    }
  }

  footer {
    background-color: #310a31;
    height: 100%;
    text-align: center;
  }

  h4 {
    color: orange;
    margin: 0px;
    padding: 15px;
  }

  a {
    color: #d8ddef;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }

  a:last-child {
    padding-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #d8ddef;
    height: 100%;
  }

  header {
    background-color: #310a31;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      padding: 1em;
    }

    input {
      border: none;
      background-image: url("/images/search1.png");
      background-repeat: no-repeat;
      background-size: 2.5rem;
      padding: 10px 10px 10px 45px;
      margin: 20px;
      font-size: 15px;
    }
  }

  .hero {
    background-color: #3a1772;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 0 auto;
    position: relative;
    top: -70px;
    z-index: 1;

    img {
      width: 9.5rem;
      height: 9.5rem;
      border-radius: 50%;
    }
  }

  article {
    text-align: center;
    width: 800px;
    margin: 0 auto;

    p {
      margin: 0px;
    }

    h2 {
      color: #3a1772;
      margin-top: 0px;
    }

    h3 {
      color: #3a1772;
      margin-top: 0px;
      margin-bottom: 8px;
    }

    .contacts {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 30px 130px;

      .elsa,
      .michail {
        display: flex;
        align-items: center;
      }

      img {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
      }

      p {
        padding: 0px 10px;
      }
    }
  }

  footer {
    background-color: #310a31;
    border-top: 30px solid #3a1772;
    display: flex;
    height: 100%;
    justify-content: space-around;
    padding: 0px 150px;

    h4 {
      color: orange;
      margin: 0px;
      padding: 15px;
    }

    a {
      color: #d8ddef;
      display: block;
      text-decoration: none;
      text-align: center;
    }

    a:last-child {
      padding-bottom: 15px;
    }
  }
}
